[submodule ".emacs.d/less-css-mode"]
	path = .emacs.d/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule ".emacs.d/jade-mode"]
	path = .emacs.d/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/php-mode"]
	path = .emacs.d/php-mode
	url = https://github.com/ejmr/php-mode
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/azylman/coffee-mode
[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/ace-jump-mode"]
	path = .emacs.d/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
