[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/less-css-mode"]
	path = .emacs.d/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule ".emacs.d/jade-mode"]
	path = .emacs.d/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
